# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Environment variables
.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Testing / coverage
coverage/

# TypeScript
*.tsbuildinfo

# Caches
.next/cache/
.cache/
.parcel-cache/
.turbo/
.eslintcache

# Build artifacts
build/
dist/

# Tooling
.pnp.cjs
.pnp.loader.mjs
.pnpm-store/

# OS / Editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/

# Static hosts
.vercel/
.netlify/

# Misc
*.swp
*.swo
